<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Tesis</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">Juan</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <mapping resource="Entity/RevisionProyecto.hbm.xml"/>
    <mapping resource="Entity/Actividades.hbm.xml"/>
    <mapping resource="Entity/Revisiones.hbm.xml"/>
    <mapping resource="Entity/Aofestivo.hbm.xml"/>
    <mapping resource="Entity/Correospersona.hbm.xml"/>
    <mapping resource="Entity/Ubicacion.hbm.xml"/>
    <mapping resource="Entity/UsuRol.hbm.xml"/>
    <mapping resource="Entity/Telefonos.hbm.xml"/>
    <mapping resource="Entity/Rol.hbm.xml"/>
    <mapping resource="Entity/EstadoProyecto.hbm.xml"/>
    <mapping resource="Entity/Dia.hbm.xml"/>
    <mapping resource="Entity/DispoUsuario.hbm.xml"/>
    <mapping resource="Entity/Objetivos.hbm.xml"/>
    <mapping resource="Entity/Asesoria.hbm.xml"/>
    <mapping resource="Entity/Usuario.hbm.xml"/>
    <mapping resource="Entity/DetalleAsesoria.hbm.xml"/>
    <mapping resource="Entity/UsuarioProyecto.hbm.xml"/>
    <mapping resource="Entity/Persona.hbm.xml"/>
    <mapping resource="Entity/Calendario.hbm.xml"/>
    <mapping resource="Entity/EstadosAsesoria.hbm.xml"/>
    <mapping resource="Entity/NivelDisponible.hbm.xml"/>
    <mapping resource="Entity/TipoProyecto.hbm.xml"/>
    <mapping resource="Entity/Festivos.hbm.xml"/>
    <mapping resource="Entity/Proyectos.hbm.xml"/>
    <mapping resource="Entity/Calificacion.hbm.xml"/>
    <mapping resource="Entity/Estados.hbm.xml"/>
    <mapping resource="Entity/Tareas.hbm.xml"/>
    <mapping resource="Entity/Disponibilidad.hbm.xml"/>
    <mapping resource="Entity/Asistente.hbm.xml"/>
    <mapping resource="Entity/RolActividad.hbm.xml"/>
    <mapping resource="Entity/Versiones.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
